/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color:#1de9b6;
    background-color:#212121;
}

.hoverwell {
  background-color: #757575
}

.hoverwell:hover {
    background-color:#2e7d32;
    cursor: pointer;
  }
  
  .container {
    padding-top: 10px;
  }
  
  .pointable {
    cursor: pointer;
  }
  
  button {
    color:#f06292;
  }
  
  [hidden] {
    display: none !important;
  }
  
  .toast-success {
    background-color: #51a351;
  }
  .toast-error {
    background-color: #bd362f;
  }
  .toast-info {
    background-color: #2f96b4;
  }
  .toast-warning {
    background-color: #f89406;
  }
  
  h2{
    color: #1de9b6;
  }